<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Publisher details</h1>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>isbn</th>
            <th>publisher</th>
        </tr>
        {% for x in data1 %}
        <tr>
            <td>{{x.title}}</td>
            <td>{{x.isbn}}</td>
            <td>{{x.pub}}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>