<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="4">
        <tr>
            <th>id</th>
            <th>first_name</th>
            <th>last_name</th>
            <th>email</th>
            <th>phone_number</th>
            <th>address</th>
            <th>date_of_birth</th>
        </tr>
        <tr>
            {% for i in cust1 %}
            <td>{{i.id}}</td>
            <td>{{i.first_name}}</td>
            <td>{{i.last_name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.phone_number}}</td>
            <td>{{i.address}}</td>
            <td>{{i.date_of_birth}}</td>
            <td><a href="{% url 'delete_cust' i.pk %}">delete</a></td>
            <td><a href="{% url 'update_cust' i.pk  %}">update</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>