<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-size: 20px;">
    <h1>Details</h1>
    <b>First Name : {{specific.first_name}}<br><br>
    Last Name : {{specific.last_name}}<br><br>
    Email : {{specific.email}} <br><br>
    Phone Number : {{specific.phone_number}} <br><br>
    Course : {{specific.course}}</b><br><br>
    <a href="{% url 'displayStudents'%}">Back to table</a>
    
</body>
</html>