<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Product List</h1> 
    <ul>
        {% for x in product %}
        <li><b>{{x.name}}</b></li>
        <ul style="list-style-type: none;padding-left: 0;">
        <li><b> {{x.price}}</b></li>
        {% if x.stock == 'Out of stock' %}
        <li style="color: rgb(185, 35, 35);">Out of stock</li>
        {% else %}
        <li style="color: rgb(46, 201, 74);">In stock</li>
        {% endif %}
        </ul>
        {% endfor %}
    </ul>    
   

</body>
</html>